<!doctype html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>Our Story</title><link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"></head>
<body><div class="particles"></div><main class="page narrow"><a class="back" href="{{ url_for('home') }}">← our universe</a>
<p class="eyebrow">My Love, For You</p><h1>Mere Buggu, 💜 </h1>
<div class="timeline">
<article><div class="dot"></div><div><span></span><h2></h2><p>Pehle-pehle jab hum movie dekhne gaye the 🎬❤️ aur jab Brahm Sarovar pe bench par baith ke baatein kar rahe the 🌸✨, tab kuch 2 minute ke liye mujhe sach mein lag raha tha ki ye sab sach hai ya main bas imagine kar rahi hoon? 🥹

Mujhe toh abhi bhi kabhi-kabhi yakeen nahi hota ki aap sach mein meri life ka itna beautiful part ho. 🫶🏻💜 Isliye shayad main aapko itne dhyaan se dekhti hoon… jaise bas aapko dekh kar hi confirm karna chahti hoon ki haan, aap sach mein mere saamne ho. 🥺❤️

Pehle jab aap achanak se mere saamne aa jaate the na… mera dil itni zor se dhadakne lagta tha ❤️‍🔥🥹 ki mujhe khud samajh nahi aata tha kya ho raha hai. 😂🫣

Aur sabse cute baat ye hai ki ab bhi bilkul same hota hai. 🥹❤️
Aapko kahin randomly dekh loon, bina expect kiye… toh mera dil aaj bhi utni hi zor se dhadakta hai. 💓💓

Shayad waqt badal gaya, hum aur close ho gaye… par aapko dekh kar jo feeling pehle thi, woh aaj bhi bilkul wahi hai. 🫶🏻🌷</p></div></article>
<article><div class="dot"></div><div><span></span><h2></h2><p>pata hai mujhe aapki sabse cute cheez kya lagti hai? Aapki hasi. 🥹 Jab aap haste ho na, toh pata nahi kyun mera mood automatically acha ho jaata hai. Aapki smile dekh kar lagta hai bas thodi der aur aapko dekhti rahun. 🫶🏻

Mujhe aapki woh chhoti-chhoti baatein bhi pasand hain jo shayad aap khud notice bhi nahi karte. Aapka mere saath hona, mere paas rehna, bina kuch special kiye bhi mujhe special feel karwa deta hai.

Kabhi-kabhi sochti hoon, aap mere life mein aaye kaise aur itne zaroori kab ban gaye? 🥺❤️

Bas aise hi haste rahiye, kyunki aapki hasi meri favourite cheezon mein se ek hai.
Aur haan… thoda sa pyaar mujhe bhi dete rahiye, kyunki main toh aapko already bhottt saara de chuki hoon. 🤭💜

</p></div></article>
<article><div class="dot"></div><div><span></span><h2></h2><p>Mujhe humari sabse simple si cheezein sabse jyada special lagti hain. Subah aapke liye chai banana, shaam ko aapke saath walk par jaana aur phir poore din ki har chhoti-badi baat ek dusre ko batana. 🥹❤️ Din mein kuch acha ho ya bura, sabse pehle aapse share karne ka mann karta hai.

Aur aap… jo mujhe hamesha rote hue chup karwane ke Chakkar khud hi rone lagte ho. 😂🥺 Aur phir mujhe hi aapko chup karwana padta hai. Us moment mein bas mann karta hai aapko hug karke bolun, “Bas na Baby, mai hun to sahi.” 🫂💜</p></div></article>
<div class="photo-note">I love you, Baby🫶🏻</div>
</main><script src="{{ url_for('static',filename='js/app.js') }}"></script></body></html>